*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(#13547a , #80d0c7);
}

.calculator{
    max-width: 435px;
    width: 90vw;
    height: 70vh;
    min-height: 500px;
    background-color: rgba(0,0,0,0.3);
    font-size: 1.3rem;
    padding:10px;
    color:#fff;
}
.calculator__panel{
    position: relative;
    background-color: rgba(0,0,0,0.3);
    flex-basis: 100%;
    height: calc(15% + 10px);
    padding:15px;
    margin-bottom:5px;
    display: flex;
    flex-direction: column;
}
.calculator__panel__prev{
    color:rgba(255,255,255,0.3);
    padding-bottom:5px;
}

.calculator__panel__current,
.calculator__panel__prev{
    text-align: right;
}
.calculator__panel__current{
    padding-top:5px;
    border-top:1px solid #fff;
}

.calculator__btns{
    width:100%;
    height: calc(85% - 10px );
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: minmax(120px,auto, repeat(5,100px) );
    gap:5px;
}

button{
    text-transform: uppercase;
    outline:none;
    border:none;
    background-color: rgba(0,0,0,0.3);
    color:#fff;
    cursor: pointer;
    transition: background-color .2s;
}

button:hover{
    background-color: rgba(0,0,0,0.7);
}

.functionalKey[name="equal"]{
    grid-row:5/6;
    grid-column: 3/span 2;
}
.doubleColumn{
    grid-row:1/-1;
}
.doubleColumn--ac{
    grid-column: 1/span 2;
}